
.Container_Estudios{ /*General Container of the page*/
    background-color: #2B2448;
    color: white;
    display: flex;
    padding-left: 210px;
    height: 450px;
    margin-top: -65px;   

}
.Desarrollo { /*Text of the component*/
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
h3{ /*Tittle*/ 
    font-family: Raleway;
    font-weight: 400;
}
.Container_img  img { /*Image that we import in the jsx from the folder of utils*/
    width:80%;
    height: 80%;
    margin-top: 55px;
    float: left;
    margin-left: 150px;
}

.Educacion{ /*Second general component*/
    margin-top: 20px;
    font-size: 16px;
}
/*RESPONSIVE DE 600 a 800*/
@media screen and (min-width:600px) and (max-width: 800px){
    .Container_img  img {
        margin-left: 12px;
    }
    .Container_Estudios{
        margin-top: 3px;
        padding-left: 39px;
        padding-bottom: 15px;
    }
}


