.Pie_pagina{ /*General styles*/
    background-color: #0F0144;
    color: white;
    font-size: 20px;
    height: 35px;   
}
.Pie_pagina p{ /*Text of the container*/
    justify-content: center;
    align-items: center;
}