.Container_Proyectos{ /*General Container*/
    display: flex;
    margin-left: 25%;
}
.Texto button{ /*It are going to show us the other page*/
    background-color: #2B2448;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;

}
.Container_icono_project img{ /*Right Image*/
    width: 75%;
    margin-left: 100px;
    height: 75%;
    
}